body{

background-color: bisque;

}

h1{

    font-family: sans-serif;
    color: blueviolet;
    

}

img{

border-radius: 25px;
border: 10px;

}

h2{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: darkblue;

}

a {

font-size: 30px;
color: blueviolet;

}
