body{

    background-color: aquamarine;
    line-height: 20px;
    
}
body:before{
    content: "";
    width:100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(90deg, rgba(229, 14, 14, 0.688), rgb(182, 186, 190));
    opacity: 0.5;
    z-index: -1;
}

h1 {

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(179, 255, 0);
font-size: 35px;
text-align: center;
line-height: 20px;

}

h2{

    line-height: 30px;
text-align: center;
font-family: cursive;
color: rgb(0, 225, 255);
font-size: 32px;

}